:root{
    --color-primary: #1e90ff;
    --color-secondary: #3dd162;
    --color-tertiary: #ffa047;
    --color-background: #f0f0f0;
    --color-text: #333333;
}

body{
    font-family: 'Datatype', sans-serif;
    margin: 15px;
    padding: 10px;
}

h1{
    color: var(--color-primary);
    font-size: clamp(2rem, 5vw, 3rem);
}
p{
    color: var(--color-text);
    font-size: 16px;
}
h2{
    color: var(--color-secondary);

}
h3{
    color: var(--color-tertiary);
}
header{
    background: linear-gradient(var(--color-tertiary), var(--color-primary));
    border-radius: 5px;
}