# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Cache de linters
.stylelintcache

# Builds
dist/
build/

# Archivos de entorno (si los usas)
.env
.env.*

# Configuraciones de editores
.idea/
.vscode/