:root{
    --color-primario: #3498db;
    --color-texto: #2c3e50;
    --color-fondo: #83abb6;
    --espaciado-medio: 16px;
    --radio-bordes: 8px;
}

h1{
    color: var(--color-primario);
}
.class{
    padding: var(--espaciado-medio);
}
main{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    border-radius: var(--radio-bordes);
}
a{
    background-color: var(--color-primario);
    border-radius: var(--radio-bordes);
}