*{
    box-sizing: border-box;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botijo {
width: 150px;
height: 200px;
}

.enlaces-generic{
    border: 1px solid #45b92b;
    background-color: #1e4fdf;
    color: #fff;
    text-decoration: none;

}

.buton{
    display: flex;
    gap: 10px;
    text-align: center;

    & .buton-generic{
        padding: 10px;
        border: 1px solid #45b92b;
        border-radius: 5px;
        background-color: #1e4fdf;
        color: white;
        cursor: pointer;
    }

    & .buton-generic:hover{
        background-color: #45b92b;
    }
}

.contenedor-tarjetas {
    display: flex;
    gap: 20px;           
    flex-wrap: wrap;     
    list-style: none;
    padding: 0;
}

.tarjeta {
    width: 150px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #eee;
    text-align: center;
}