h1{
    font-size: 6rem;
}

h2{
    font-size: 4rem;
}

.aviso{
    width: 80%;
    height: 12vh;
    background-color: greenyellow;
}

.container{
    width: 400px;
    height: 12vh;
    background-color: lightblue;
}