:root{
    --color-body:#ffe628;
    --color-container:#dcdcdc;
    --color-fondo-figcaption:#c3beb6;
    --color-letra-figcaption:#a49383;
    --color-planta:#1bbb10;
    --color-fuego:#ff4500;
    --color-agua:#1e90ff;
    --color-veneno:purple;
    --color-hierva: green;
    --color-fire: red;
    --color-letra:white;
}