*{
    box-sizing: border-box;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;
    padding: 10px;
}

/* NAV */

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #1e4fdf;
    color: white;

    & .header-encabezado-nav{
        display: flex;
        gap: 20px;
    }

    & .header-encabezado-enlace{
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        text-decoration: none;
    }

    & .header-encabezado-enlace:hover{
        background-color: #45b92b;
        color: white;
    }
}

/* MAIN */

.panel{
    padding: 20px;
}

.panel-section{
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: center;
}

/* TARJETAS */

.section-article{
    display: flex;
    width: 250px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    
    & .article-encabezado{
        font-size: 18px;
        margin-bottom: 10px;
    }

    & .article-descripcion{
        font-size: 14px;
        margin-bottom: 15px;
    }

    & .article-boton{
        padding: 8px;
        border-radius: 5px;
        background-color: #1e4fdf;
        color: white;
        text-decoration: none;
        text-align: center;
    }

    & .article-boton:hover{
        background-color: #45b92b;
    }

}

.section-aviso {
    padding: 15px;
    border: 1px solid #fc0;
    border-radius: 5px;
    background-color: #fff3cd;
    margin-top: 30px;
    text-align: center;

    & .section-aviso-texto {
        margin: 0;
    }
}